<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Design Studio</title>
</head>

<body>
    <section class="top-header">
        <header>
            <div class="container">
                <div class="Logo">
                    <h1>silika</h1>
                    <a href="#" class="reservados">We’re Hiring</a>
                </div>

                <!-- fim: Logo -->
                <nav>
                    <ul>
                        <li> <a href="#">user cases</a></li>
                        <li> <a href="#">resources</a></li>
                        <li> <a href="#">weekly demos</a></li>
                        <li> <a href="#">pricing</a></li>

                    </ul>
                </nav>
                <!-- fim:menu -->

                <div class="login">
                    <a href="#">Login</a>
                    <a href="#" class="green">Get Started</a>
                </div>

            </div>
        </header>
        <div class="cta">
            <div class="container">
                <h2>Silika <br> Marketing Agencies!</h2>
                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a.
                    Nulla consectetur nunc egestas metus pellentesque.</p>

                <div class="bts-cta">
                    <a href="#" class="green">Get Started</a>
                    <a href="#" class="red">How It Works</a>
                </div>
                <div class="red">

                    <a href="#" class="red">How it Works

                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- section top-header -->
    <section class="brands">
        <div class="container">
            <img src="images/adobe.png" alt="">
            <img src="images/colab.png" alt="">
            <img src="images/holtzman.png" alt="">
            <img src="images/mosaic.png" alt="">
        </div>
    </section>
    <!-- brands -->
    <section class="about-us">
        <h3>About Us</h3>
        <div class="container">
            <div class="about-us-description">
                <h4>professional & team choose copy.ai</h4>
                <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit
                    massa ullamcorper </p>

                <a href="#" class="green">Get Started</a>
            </div>

            <div class="about-us-video">
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Em0R3csNMVE?si=EsPKgXs85XNrw8nf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </div>

    </section>
    <!-- about us -->

    <section class="our-features">
        <h2>Our feartures</h2>
        <div class="container">
            <div class="card">
               <div class="icon-card">
                <img src="images/icones/article.svg" alt="">
               </div> 
               <div class="description-card">
                
                <h4>Blog content</h4>

                <p>Write optimized blog posts in
                    a fraction of the time</p>

                    <a href="#">Try Blog Content</a>
               </div>
            </div> 

        </div>
    </section>



</body>

</html>