* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* variaveis */
:root {
    --primary-color: #47BEBA;
    --secondary-color: #F22E52;
    --text-color-button: #FFF;
    --padding-button:1rem 2rem;
}

.primary-color {
    background: var(--primary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

.secondary-color {
    background: var(--secondary-color);
    color: var(--text-color-button);
    padding: var(--padding-button);
    display: inline-block;
    border-radius: 5px;
}

h1 {
    font-family: "Biryani", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #160647;
}

h3 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 100px 0;
}

a{
    text-decoration: none;
    color: #160647;
}

.container {
    width: 1172px;
    margin: auto;
}

/* top header */

.top-header {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.top-header header .container {
    display: flex;
    justify-content: space-between;
}

.top-header .logo{
    display: flex;
    align-items: center;
}

.top-header .logo h1{
    margin-right: 6px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 16px;
}

.login{
    display: flex;
    align-items: center;
}

.login .primary-color{
    margin-left: 16px;
}

/* tta */

.cta{
    padding: 208px 0;
}

.cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2{
    font-size: 64px;
    color: #160647;
    text-align: center;
}

.cta p{
    margin: 30px 0 40px;
    width: 697px;
    text-align: center;
    color: #6c6c6c;
}

.cta a{
    margin: 0 10px;
}

.cta a:hover{
    box-shadow: 0 0 10px #aaa;
}

.brands .container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.about-us .container{
    display: flex;
    justify-content: space-between;
}

.about-us .about-us-description p{
    margin: 23px 0 27px;
}

.about-us-description h4{
    font-size: 40px;
    
}

/* our features*/

.our-features .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-features .container .card{
    width: 300px;
    padding: 48px 32px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
}

.our-features .container .icon-card{
    margin-right: 36px;

}

.our-features h4{
    font-size: 20px;
    color: #160647;
}

.our-features p{
    color: #7a8994;
    margin: 25px 0 21px;
    font-size: 14px;
}

.our-features a{
    color: var(--primary-color);
    font-weight: 600;
}

.our-features a:hover{
    text-decoration: underline;
    color: #322853;
}


.testimonials .container{
    width: 821px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.testimonials h3{
    width: 498px;
    text-align: center;
    margin: 100px auto;
}

.testimonial-card .perfil{
    display: flex;
    margin-bottom: 24px;
}

.testimonial-card .perfil  .photo-perfl{
    margin-right: 16px;
}

.work  .container{
    display: flex;
    justify-content: space-between;
}

.work .images{
    margin-right: 48px;
}

.work .titulo{
    font-size: 20px;
    color: #160647;
    margin-bottom: 18px;
}

.work  .titulo h4 span{
    border: 1px solid #160647;
    font-size: 14px;
    padding: 5px 18px;
    margin-right: 29px;
}

.works .content-description-work{
    border-left: 1px dashed #84b4b4;
    margin-left: 15px;
    padding-left: 42px;
    height: 260px;
}

.works .content-description-work ul{
    list-style: none;
    padding-left: 42px;
    font-size: 14px;
    color: #160647;
    line-height: 2;
    margin-top: 43px;
}


/* ready */

.ready fieldset{
    display: flex;
    justify-content: space-between;
    border: none;
}